<i id="page-name" data-page="votar"></i>
<div class="wrapper">
	<div class="jumbotron text-center">
		<h1>Votação</h1>
		<p>Esta página é um portal para votação de pautas aceitas na Assembleia do Caaso</p>
	</div>
	<div class="panel panel-danger">
		<div class="panel-heading"> Atenção! </div>
		<div class="panel-body"> Essa página não é de forma alguma relacionada com a direção do Caaso, as informações contidas aqui não refletem as opiniões da instituição </div>
	</div>

	<% code_lbl =
		"Digite o código de controle do Atestado ".html_safe +
		"De Matrícula emitido pelo JupiterWeb. " +
		"#{link_to 'O que é isso?', '#',
		data: { toggle: 'modal', target: '#myModal' }}".html_safe
	%>
	<p>Atenção: Tome uma decisão informada.<br/>
	Na página de <%= link_to 'Resultados', results_url %> é possível ler a justificativa de quem já votou.<br/>
	Use o filtro na parte de cima da tabela para buscar por pessoas, institutos ou opiniões.</p>

	<% vote_text = "Você é a favor da pauta acima?" %>
	<% ruling = "Greve dos Alunos" %>

	<%= bootstrap_form_tag url: vote_url do |f| %>
		<div class="panel panel-default">
			<div class="panel-heading"> Pauta atual </div>
			<div class="panel-body"><%= ruling.to_s %></div>
		</div>
		<%= f.form_group :vote, label: { text: vote_text } do %>
			<% {"Não" => 0, "Abstenção" => 2, "Sim" => 1}.each do |lbl, i| %>
				<% options = {label: lbl, inline: true} %>
				<% condition =  @saved[:vote] ? @saved[:vote].to_i == i : i == 2 %>
				<% options.merge!({checked: true}) if condition %>
				<% puts "options: #{options.inspect} condition: #{condition} i: #{i} lbl: #{lbl}" %>
				<%= f.radio_button :vote, i, options %>
			<% end %>
		<% end %>
		<%= f.text_field :code, placeholder: 'XXXX-XXXX-XXXX-XXXX', label: code_lbl, value: @saved[:code] %>
		<%= f.text_area :reason, label: 'Justificativa (Opcional)', value: @saved[:reason] %>
		<%= image_tag captcha_url, class: 'img-rounded img-responsive' %>
		<%= f.text_field :chars, label: 'Digite os caracteres da imagem acima' %>
		<%= f.submit 'Votar' %>
		<p>
		Lembre-se: Você sempre pode alterar seu voto,
		basta votar novamente e seu voto anterior será alterado
		</p>
	<% end %>
	<div class="push"></div>
	<%= render "footer" %>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Ajuda</h4>
			</div>
			<div class="modal-body">
				<p>Esse é o código de controle (no formato XXXX-XXXX-XXXX-XXXX) do Atestado De Matrícula gerado pelo JupiterWeb (JupiterWeb -&gt; Entrar -&gt; Emissão de documentos -&gt; Atestado De Matrícula) o código de controle pode ser encontrado na parte de baixo do documento.</p>
				<p>Para mais informações leia a página de <%= link_to help_url do 'ajuda' end %></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>

	</div>
</div>
