<i id="page-name" data-page="votar"></i>
<div class="wrapper">
	<div class="jumbotron text-center">
		<h1>Votação</h1>
		<p>Esta página é um portal para votação de pautas aceitas na Assembleia do Caaso</p>
	</div>
	<div class="panel panel-danger">
		<div class="panel-heading"> Atenção! </div>
		<div class="panel-body"> Essa página não é de forma alguma relacionada com a direção do Caaso, as informações contidas aqui não refletem as opiniões da instituição </div>
	</div>


	<% code_lbl =
		"Digite o código de controle do Atestado ".html_safe +
		"De Matrícula emitido pelo JupiterWeb. " +
		"#{link_to 'O que é isso?', '#',
		data: { toggle: 'modal', target: '#myModal' }}".html_safe
	%>
	<p>Atenção: Tome uma decisão informada.<br/>
	Na página de <%= link_to 'Resultados', results_url %> é possível ler a justificativa de quem já votou.<br/>
	Use o filtro na parte de cima da tabela para buscar por pessoas, institutos ou opiniões.</p>

	<% vote_text = "Você é a favor da pauta acima?" %>
	<% ruling = "Greve dos Alunos" %>

	<%= bootstrap_form_tag url: vote_url do |f| %>
		<div class="panel panel-default">
			<div class="panel-heading"> Pauta atual </div>
			<div class="panel-body"><%= ruling.to_s %></div>
		</div>
		<%= f.form_group :vote, label: { text: vote_text } do %>
			<%= f.radio_button :vote, 0, label: "Não", inline: true, checked: true %>
			<%= f.radio_button :vote, 1, label: "Sim", inline: true %>
		<% end %>
		<%= f.text_field :code, placeholder: 'XXXX-XXXX-XXXX-XXXX', label: code_lbl %>
		<%= f.text_area :reason, label: 'Justificativa (Opcional)' %>
		<%= image_tag captcha_url, class: 'img-rounded img-responsive' %>
		<%= f.text_field :chars, label: 'Digite os caracteres da imagem acima' %>
		<%= f.submit 'Votar' %>
		<p>
		Lembre-se: Você sempre pode alterar seu voto,
		basta votar novamente e seu voto anterior será alterado
		</p>
	<% end %>
	<div class="push"></div>
	<nav class="navbar navbar-default navbar-static-bottom">
		<p class="navbar-text">Para garantir total transparência desse processo de votação, todo o código fonte está disponível no <a href="http://github.com/Kasama/votacaaso"><svg aria-hidden="true" class="octicon octicon-mark-github" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59 0.4 0.07 0.55-0.17 0.55-0.38 0-0.19-0.01-0.82-0.01-1.49-2.01 0.37-2.53-0.49-2.69-0.94-0.09-0.23-0.48-0.94-0.82-1.13-0.28-0.15-0.68-0.52-0.01-0.53 0.63-0.01 1.08 0.58 1.23 0.82 0.72 1.21 1.87 0.87 2.33 0.66 0.07-0.52 0.28-0.87 0.51-1.07-1.78-0.2-3.64-0.89-3.64-3.95 0-0.87 0.31-1.59 0.82-2.15-0.08-0.2-0.36-1.02 0.08-2.12 0 0 0.67-0.21 2.2 0.82 0.64-0.18 1.32-0.27 2-0.27 0.68 0 1.36 0.09 2 0.27 1.53-1.04 2.2-0.82 2.2-0.82 0.44 1.1 0.16 1.92 0.08 2.12 0.51 0.56 0.82 1.27 0.82 2.15 0 3.07-1.87 3.75-3.65 3.95 0.29 0.25 0.54 0.73 0.54 1.48 0 1.07-0.01 1.93-0.01 2.2 0 0.21 0.15 0.46 0.55 0.38C13.71 14.53 16 11.53 16 8 16 3.58 12.42 0 8 0z"></path></svg> GitHub</a> </p>
		<div class="navbar-right"><p class="navbar-text"><a href="https://github.com/Kasama/votacaaso/blob/master/README.md#privacy">Política de privacidade</a></p><p class="navbar-text"></p></div>
	</nav>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Ajuda</h4>
			</div>
			<div class="modal-body">
				<p>Esse é o código de controle (no formato XXXX-XXXX-XXXX-XXXX) do Atestado De Matrícula gerado pelo JupiterWeb (JupiterWeb -&gt; Entrar -&gt; Emissão de documentos -&gt; Atestado De Matrícula) o código de controle pode ser encontrado na parte de baixo do documento.</p>
				<p>Para mais informações leia a página de <%= link_to help_url do 'ajuda' end %></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>

	</div>
</div>
