<i id="page-name" data-page="results"></i>
<% nvotes = @votes.size %>
<% yes = @votes.where(vote: true) || [] %>
<% yes = yes.size %>
<% no = @votes.where(vote: false) || [] %>
<% no = no.size %>
<% abs = @votes.where(vote: nil) || [] %>
<% abs = abs.size %>
<h4>Resumo dos votos:</h4>
<div class="container-fluid table-responsive">
	<table class="table table-striped">
		<tr>
			<th>Total</th>
			<th>Sim</th>
			<th>Abstenções</th>
			<th>Não</th>
		</tr>
		<tr>
			<td><%= nvotes.to_s %></td>
			<td><%= yes.to_s %> (<%= sprintf('%.2f', yes.to_f/((nvotes == 0) ? 1 : nvotes) * 100) %>%)</td>
			<td><%= abs.to_s %> (<%= sprintf('%.2f', abs.to_f/((nvotes == 0) ? 1 : nvotes) * 100) %>%)</td>
			<td><%= no.to_s %> (<%= sprintf('%.2f', no.to_f/((nvotes == 0) ? 1 : nvotes) * 100) %>%)</td>
		</tr>
	</table>
</div>
<hr />
<h4>Detalhes de cada voto:</h4>
<div class="container-fluid">
	<div class="search-namespace">
		<input type="search" class="light-table-filter form-control" data-table="order-table" placeholder="<%= 'filtro' %>" />
	</div>
	<table id="vote-table" class="table table-striped order-table">
		<thead>
			<tr>
				<th><%= 'Nome' %></th>
				<th><%= 'N° USP' %></th>
				<th><%= 'RG' %></th>
				<th><%= 'Curso' %></th>
				<th><%= 'Voto' %></th>
				<th><%= 'Justificativa' %></th>
			</tr>
		</thead>
		<tbody>
			<% if @votes.blank? %>
				<tr>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
				</tr>
			<% else %>
				<% @votes.each_with_index do |v, i| %>
					<tr id="row-<%= i.to_s %>">
						<td class="vote-name"><%= v.name %></td>
						<td><%= mask_nusp v.nusp %></td>
						<td><%= v.rg %></td>
						<td>
							<% institute = INSTITUTE_ABBREV[v.institute] ? INSTITUTE_ABBREV[v.institute] : v.institute %>
							<%= "#{institute} - #{v.course}" %>
						</td>
						<% if v.vote.nil? %>
							<% vote = 'Abstenção' %>
						<% else %>
							<% vote = v.vote ? 'Sim' : 'Não' %>
						<% end %>
						<td class="vote-opinion"><%= vote.to_s %></td>
						<td>
							<% if v.reason.to_s.empty? %>
								-
							<% else %>
								<%= link_to 'Ler', '#', {
									class: 'btn btn-sm btn-default text-center read-reason',
									data: {
										toggle: 'modal',
										target: '#myModal',
										header: "Justificativa de #{v.name}",
										body: v.reason
									}} %>
							<% end %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
	<div class="push"></div>
	<%= render "footer" %>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 id="modal-head" class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<p id="modal-text"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>

	</div>
</div>
