<% nvotes = @votes.size %>
<% yes = @votes.where(vote: true) || [] %>
<% yes = yes.size %>
<% no = @votes.where(vote: false) || [] %>
<% no = no.size %>
<h4>Resumo dos votos:</h4>
<div class="container-fluid table-responsive">
	<table class="table table-striped">
		<tr>
			<th>Total</th>
			<th>Sim</th>
			<th>Não</th>
		</tr>
		<tr>
			<td><%= nvotes.to_s %></td>
			<td><%= yes.to_s %> (<%= (yes.to_f/((nvotes == 0) ? 1 : nvotes) * 100).to_s %>%)</td>
			<td><%= no.to_s %> (<%= (no.to_f/((nvotes == 0) ? 1 : nvotes) * 100).to_s %>%)</td>
		</tr>
	</table>
</div>
<hr />
<h4>Detalhes de cada voto:</h4>
<div class="container-fluid">
	<div class="table-responsive">
		<div class="search-namespace">
			<input type="search" class="light-table-filter form-control" data-table="order-table" placeholder="<%= 'filtro' %>" />
		</div>
		<table class="table table-striped order-table">

			<thead>
				<tr>
					<th><%= 'Nome' %></th>
					<th><%= 'N° USP' %></th>
					<th><%= 'RG' %></th>
					<th><%= 'Curso' %></th>
					<th><%= 'Voto' %></th>
					<th><%= 'Justificativa' %></th>
				</tr>
			</thead>
			<tbody>
				<% if @votes.blank? %>
					<tr>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
					</tr>
				<% else %>
					<% @votes.each_with_index do |v, i| %>
						<tr id="row-<%= i.to_s %>">
							<td class="vote-name"><%= v.name %></td>
							<td><%= mask_nusp v.nusp %></td>
							<td><%= v.rg %></td>
							<td><%= v.course %></td>
							<td class="vote-opinion"><%= v.vote ? 'Sim' : 'Não' %></td>
							<td><%= link_to 'Ler', '#', {class: 'btn btn-sm btn-default text-center read-reason', data: {toggle: 'modal', target: '#myModal', header: "Justificativa de #{v.name}", body: v.reason}} %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="push"></div>
	<nav class="navbar navbar-default navbar-static-bottom">
		<p class="navbar-text">Para garantir total transparência do processo de votação, todo o código fonte dessa aplicação está disponível no <a href="http://github.com/Kasama/votacaaso"><svg aria-hidden="true" class="octicon octicon-mark-github" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59 0.4 0.07 0.55-0.17 0.55-0.38 0-0.19-0.01-0.82-0.01-1.49-2.01 0.37-2.53-0.49-2.69-0.94-0.09-0.23-0.48-0.94-0.82-1.13-0.28-0.15-0.68-0.52-0.01-0.53 0.63-0.01 1.08 0.58 1.23 0.82 0.72 1.21 1.87 0.87 2.33 0.66 0.07-0.52 0.28-0.87 0.51-1.07-1.78-0.2-3.64-0.89-3.64-3.95 0-0.87 0.31-1.59 0.82-2.15-0.08-0.2-0.36-1.02 0.08-2.12 0 0 0.67-0.21 2.2 0.82 0.64-0.18 1.32-0.27 2-0.27 0.68 0 1.36 0.09 2 0.27 1.53-1.04 2.2-0.82 2.2-0.82 0.44 1.1 0.16 1.92 0.08 2.12 0.51 0.56 0.82 1.27 0.82 2.15 0 3.07-1.87 3.75-3.65 3.95 0.29 0.25 0.54 0.73 0.54 1.48 0 1.07-0.01 1.93-0.01 2.2 0 0.21 0.15 0.46 0.55 0.38C13.71 14.53 16 11.53 16 8 16 3.58 12.42 0 8 0z"></path></svg> GitHub</a> </p>
		<div class="navbar-right"><p class="navbar-text"><a href="https://github.com/Kasama/votacaaso/blob/master/README.md#privacy">Política de privacidade</a></p><p class="navbar-text"></p></div>
	</nav>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 id="modal-head" class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<p id="modal-text"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>

	</div>
</div>
